.container-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  /* height: 100vh; */
  color: #333;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  transform: rotateY(-360deg);
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 300px;
  height: 300px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
}

.a {
  transform: rotateY(0deg) translateZ(150px);
}
.b {
  transform: rotateY(90deg) translateZ(150px);
}
.c {
  transform: rotateY(180deg) translateZ(150px);
}
.d {
  transform: rotateY(270deg) translateZ(150px);
}
.e {
  transform: rotateX(90deg) rotateZ(-90deg) translateZ(150px) translateY(0px);
}
.f {
  transform: rotateX(-90deg) rotateZ(-90deg) translateZ(150px);
}

.layout-section {
  display: block;
  position: relative;
  margin: 0.1rem 0;
}
.layout-section .layout {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.35rem;
}
.layout-section .layout.media-layout {
  position: relative;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.layout-section .layout.media-layout .perspective-frame,
.layout-section .layout.media-layout .images,
.layout-section .layout.media-layout .face {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.layout-section .layout.media-layout .perspective-frame {
  border-radius: 0.35rem;
  overflow: hidden;
  perspective: 20rem;
}
.layout-section .layout.media-layout .images {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -2.35rem) rotateX(var(--xr)) rotateZ(var(--zr))
    rotateY(var(--yr));
  backface-visibility: visible;
}
.layout-section .layout.media-layout .face {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: visible;
  padding: 1rem;
  background-color: var(--white);
}
.layout-section .layout.media-layout .face.a {
  transform: translateZ(2.335rem);
}
.layout-section .layout.media-layout .face.b {
  transform: translateX(2.335rem) rotateY(90deg);
}
.layout-section .layout.media-layout .face.e {
  transform: translateY(-2.335rem) rotateX(90deg);
}
.layout-section .layout.media-layout .face.top .media {
  transform: rotate(-90deg);
}
.layout-section .layout.content-layout {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-blue);
  height: 100%;
}
.layout-section .layout.content-layout .title {
  color: var(--white);
  max-width: 4.67rem;
}
.layout-section .layout.content-layout .text {
  color: var(--white);
  max-width: 2.98rem;
}
/* .layout-section .layout.content-layout .title {
  color: var(--white);
  max-width: 4.67rem;
} */
/* .layout-section .layout.content-layout .text {
  color: var(--white);
  max-width: 2.98rem;
} */


/* .gallery-wrapper {
  margin: 0;
  display: grid;
  place-content: center;
  background: #556270;
  animation: b 9s infinite;
}

.gallery {
  --s: 250px;
  --_p: perspective(calc(2.5*var(--s)));
  display: grid;
  transform-style: preserve-3d;
  animation: r 9s infinite cubic-bezier(.5,-0.5,.5,1.5);
}

.gallery img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  transform: var(--_t, ) translateZ(calc(var(--s)/2));
}

.gallery img:nth-child(2) {--_t: rotateX(-90deg)}
.gallery img:nth-child(3) {--_t: rotateY( 90deg) rotate(-90deg)}
.gallery img:nth-child(4) {--_t: rotateX(180deg) rotate( 90deg)}
.gallery img:nth-child(5) {--_t: rotateX( 90deg) rotate( 90deg)}
.gallery img:nth-child(6) {--_t: rotateY(-90deg)}

@keyframes r {
  0%,3%    {transform: var(--_p)}
  14%,19%  {transform: var(--_p) rotateX(90deg)}
  31%,36%  {transform: var(--_p) rotateX(90deg) rotateZ(90deg)}
  47%,52%  {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg)}
  64%,69%  {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg)}
  81%,86%  {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg) rotateZ(90deg)}
  97%,100% {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg) rotateZ(90deg) rotateY(-90deg)}
}

@keyframes b {
  0%,3%   {background: #774F38}
  14%,19% {background: #C5E0DC}
  31%,36% {background: #036564}
  45%,55% {background: #B38184}
  64%,69% {background: #424254}
  81%,86% {background: #4DBCE9}
  97%,to  {background: #774F38}
} */