.ImageComparison-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  /* padding-bottom: 56.25%; */
}

.ImageComparisonItem {
  width: 100%;
  height: 100%;
}

.ImageComparisonItem-after {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}

.ImageComparisonItem-after img {
  transform: translate(-100%, 0px);
}

.ImageComparisonItem img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.ImageComparison-slider,
.ImageComparisonSlider-dot,
.ImageComparisonSlider-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ImageComparisonSlider-dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #fafafa;
}
.ImageComparisonSlider-line {
  width: 2px;
  height: 100dvh;
  background-color: #fafafa;
}
.ImageComparison-slider:hover,
.ImageComparisonSlider-dot:hover,
.ImageComparisonSlider-line:hover {
  cursor: grab;
}