:root {
  --terra:  #BDD5E6;
  --green:  #C57B57;
  --pink: #CEC3EA;
  --blue: #CDB729;
  --black: #0e0e0e;
  --beige: #C2CB23 ;
  --grey: #666d73;
  --91c5acce: 5;
  --sbw: 0px;
}
/* #BDBECF */
.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px; /* optional */
  aspect-ratio: 3 / 2; /* keeps scaling proportional */
  overflow: hidden;
}

.base-image,
.profile-image,
.overlay-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image {
  z-index: 1;
}

.overlay-lines {
  z-index: 2;
  pointer-events: none;
}
@media screen and (max-width:768px) {
  html {
    font-size: 2.6666666667vw;
    font-size: calc(2.66667vw - var(--sbw) / 37.5);
  }
}
@media screen and (min-width:769px) and (max-width:1079px) {
  html {
    font-size: 0.9765625vw;
    font-size: calc(0.97656vw - var(--sbw) / 102.4);
  }
}
@media screen and (min-width:1080px) {
  html {
    font-size: 0.6944444444vw;
    font-size: calc(0.69444vw - var(--sbw) / 144);
  }
}
@media screen and (min-width:1440px) {
  html {
    font-size: 0.6944444444vw;
    font-size: calc(0.69444vw - var(--sbw) / 144);
  }
}
@media screen and (min-width:1920px) {
  html {
    font-size: 0.625vw;
    font-size: calc(0.625vw - var(--sbw) / 160);
  }
}

@media screen and (min-width:1080px) {
  .MainSectionItem {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.MainSectionItem-inner {
  pointer-events: none;
}

@media screen and (max-width:768px) {
  .MainSectionItem-inner.--index-first {
    height: 200vh;
    height: 200svh;
    z-index: 10;
  }
  .MainSectionItem-inner.--index-between {
    height: 200vh;
    height: 200svh;
    margin-top: -100svh;
    z-index: 20;
  }
  .MainSectionItem-inner.--index-last {
    height: 100vh;
    height: 100svh;
    margin-top: -100svh;
    z-index: 30;
  }
}

@media screen and (min-width:769px) and (max-width:1079px) {
  .MainSectionItem-inner.--index-first {
    height: 100vh;
    height: 100svh;
    z-index: 10;
  }
  .MainSectionItem-inner.--index-between {
    height: 100vh;
    height: 100svh;
    margin-top: -50svh;
    z-index: 20;
  }
  .MainSectionItem-inner.--index-last {
    height: 50vh;
    height: 50svh;
    margin-top: -50svh;
    z-index: 30;
  }
}

@media screen and (min-width:1080px) {
  .MainSectionItem-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.MainSectionItem-innerSticky {
  display: flex;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  top: 0;
}

@media screen and (max-width:768px) {
  .MainSectionItem-innerSticky {
    flex-direction: column-reverse;
    height: 100vh;
    height: 100svh;
    justify-content: flex-end;
    padding: 1rem 1rem 0;
  }
}

@media screen and (min-width:769px) {
  .MainSectionItem-innerSticky {
    align-items: center;
    height: 50vh;
    height: 50svh;
    justify-content: space-between;
    padding: 0 3.2rem 0 12.8rem;
  }
}

@media screen and (min-width:1080px) {
  .MainSectionItem-innerSticky {
    gap: 13rem;
    height: 100%;
    left: 0;
    padding: 15vh 16rem 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width:1440px) {
  .MainSectionItem-innerSticky {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 12rem;
    padding-top: 10vh;
  }
}

.MainSectionItem-background {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.MainSectionItem-imageContainer {
  aspect-ratio: 448/325;
  flex: none;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media screen and (min-width:769px) {
  .MainSectionItem-imageContainer {
    margin-bottom: 0;
    width: 44.8rem;
  }
}

@media screen and (min-width:1080px) {
  .MainSectionItem-imageContainer {
    aspect-ratio: 480/348;
    margin-top: -27.25rem;
    position: absolute;
    right: 0;
    top: 73%;
    width: 33.3%;
  }
}

.MainSectionItem-image,
.MainSectionItem-imageContainerInner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.MainSectionItem-content {
  /* padding-left: 8rem; */
  pointer-events: auto;
  position: relative;
  width: 100%;
  color: var(--black);
  
}

.MainSectionItem-contentTitle {
  margin-bottom: 1rem;
    font-family: "NeueHaasDisplay35";
}

.MainSectionItem-contentText {
  overflow: hidden;

}

.MainSectionItem-index {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  left: 1rem;
  position: absolute;
  top: 0.8rem;
}



.AppParagraph{
  font-family:"NeueHaasDisplay35";
  font-size: 1.2em;
}

@media screen and (min-width:769px) {
  .MainSectionItem-content {
    padding-left: 0;
  }
}

@media screen and (min-width: 1080px) {
  .MainSectionItem-contentText {
    min-height: 20rem; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
}
@media screen and (min-width:769px) and (max-width:1079px) {
  .MainSectionItem-contentTitle,
  .MainSectionItem-contentText {
    max-width: 85%;
    width: 100%;
  }
  .MainSectionItem-index {
    left: -10rem;
  }
}

@media screen and (min-width:1080px) {
  .MainSectionItem-contentTitle {
    margin-bottom: 3rem;
  }
  .MainSectionItem-contentText {
    max-width: 30%;
    width: 100%;
  }
  .MainSectionItem-index {
    display: none;
  }
}

@media screen and (min-width:1440px) {
  .MainSectionItem-content {
    margin-top: -23.25rem;
    top: 65%;
  }
  .MainSectionItem-contentTitle {
    max-width: 35%;
    width: 100%;
  }
}

.MainSection {
  background: #f1efeb;
  position: relative;
  width: 100%;
  z-index: 20;
}

@media screen and (min-width:1080px) {
  .MainSection {
    height: calc(var(--91c5acce) * 130vh);
  }
  .MainSection-wrap {
    height: 100vh;
    height: 100svh;
    /* left: 0; */
    overflow: hidden;
    position: relative;
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
  }
}

.MainSection-headTitle {
  pointer-events: auto;
  display: flex;
  gap: 8px;
}

.SplitText {
  word-break: break-word;
}

.AnimatedSplitText .head-lines {
  will-change: transform;
  color: var(--black);
  font-family: "NeueHaasDisplay35"
}
.AnimatedSplitText .chars-wrapper {
  display: inline-block;
}
.AnimatedSplitText .chars {
  will-change: transform;
}
.AnimatedSplitText.--anim-title .head-lines {
  overflow: hidden;
}


@media screen and (max-width:768px) {
  .MainSection-head {
    padding: 4rem 2rem 2rem;
    position: relative;
    text-align: center;
  }
  .MainSection-head .lines {
    text-align: center;
  }
}

@media screen and (min-width:769px) and (max-width:1079px) {
  .MainSection-head {
    padding: 12rem 12.8rem 0;
  }
}

@media screen and (min-width:1080px) {
  .MainSection-head {
    height: 100%;
    left: 0;
    padding-left: 12rem;
    pointer-events: none;
    position: absolute;
    top: 10vh;
    top: 10svh;
    width: 100%;
    z-index: 10;
  }
}

@media screen and (min-width:1440px) {
  .MainSection-head {
    top: 14vh;
    top: 14svh;
  }
}

.MainSection-items {
  position: relative;
}

@media screen and (min-width:1080px) {
  .MainSection-items {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.MainSection-nav {
  display: none;
}

@media screen and (min-width:1080px) {
  .MainSection-nav {
    bottom: 5vh;
    bottom: 5svh;
    display: flex;
    left: 3.2rem;
    overflow: hidden;
    position: absolute;
    right: 3.2rem;
  }
}

@media screen and (min-width:1440px) {
  .MainSection-nav {
    left: 16rem;
    right: 16rem;
  }
}

.MainSection-navItem {
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;
  color: var(--black);
}

.MainSection-navItem span {
  display: inline-block;
}

.MainSection-navItem:first-child .MainSection-navItemTitle {
  transform: translateZ(0);
}

.MainSection-navItemTitle {
  margin-left: 2.2rem;
  /* transform: translate3d(0, 5rem, 0); */
}

.MainSection-navProgress {
  bottom: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.MainSection-navProgressBar {
  background: #0e0e0e;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  /* transform: translate3d(-100%, 0, 0); */
  width: 100%;
}