:root {
  --darkBlack: #000;
  --black: #302c1a;
  --gray: #828282;
  --white: #fff;
  --darkBlue: #0d4c82;
  --blue: #7ec1f9;
  --lightBlue: #55b1ff;
  --skinColor: #f0efeb;
  --thinPink: #ffabb7;
  --darkPink: #d32254;
  --yellow: #ffd955;
  --purple: #5e6d90;
  --thinPurple: #c9d3e9;
  --gold: #f1d7b2;
}

.award {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.award-bg {
  position: relative;
  padding: 0 0 vw(600) 0;
  /* background-color: var(--darkBlack); */
}

.award-inner {
  padding: 152px 40px;
}

.award-card-area {
  position: fixed;
  top: 0;
  left: 150px;
  width: 293px;
  height: 400px;
  pointer-events: none;
  z-index: 3;
  opacity: 0;
}

.award-card-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  z-index: 10;
}
/* clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%); */
/* clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%); */

.award-title-read-area {
  display: block;
  margin: 0 0 36px 0;
}

.award-list-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}

.award-list {
  position: relative;
  width: 60vw;
  /* border: 1px solid var(--yellow); */
}

.award-item {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* padding: 15px 0; */
  color: var(--gray);
  /* border: 1px dashed var(--darkPink); */
}

.award-item-text-wrapper {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.award-group {
  position: relative;
  /* top: 2px; */
  width: 50%;
  flex-shrink: 0;
  /* color: var(--white); */
  font-size: 14px;
  font-family: 'NeueHaasDisplay35', 'Arial', sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* border: 1px dashed var(--lightBlue); */
}

.award-title {
  width: 50%;
  flex-shrink: 0;
  font-size: 14px;
  font-family: 'NeueHaasDisplay35', 'Arial', sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* border: 1px dashed var(--thinPink); */
}

/* CARD AWARD START */
.card-award {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 4px solid lime; */
}
.card-award-article {
  position: relative;
  width: 234px;
  height: 320px;
  background-color: var(--white);
  /* background-color: transparent; */
  color: var(--black);
  border-radius: 10px;
  overflow: hidden;
  /* border: 3px dashed magenta; */
}
.card-award-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid cyan; */
}
.card-award-inner-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* CARD AWARD END */

/* APP BOUNCE LINE START */
.app-bounce-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  z-index: 100;
}
/* .app-bounce-line path {
  fill: none;
  pointer-events: none;
} */
 /* .award-list-bottom-line {
  margin-top: 18px;
 } */
/* APP BOUNCE LINE END */