@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "NeueHaasDisplay35";
  src: url("../public/fonts/Neue-Haas-Grotesk-Display-Pro-35-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro45Light";
  src: url("../public/fonts/NeueHaasGroteskDisplay-45Light-Web.woff2") format("woff2");
  font-display: swap;
}
@font-face {
	font-family: 'CanelaThin';
	src: url("../public/fonts/Canela-Thin-Web.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'CanelaThinItalic';
	src: url("../public/fonts/Canela-Thin-Italic-Web.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

main {
  height: 100%;
}

@keyframes rotate-animation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle-loader {
  position: relative;
  width: 12em;
  height: 12em;
}

.circle {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.3em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform-origin: 0.3em 6em;
  background-color: #ffffffbb;
  animation: rotate-animation 6.5s infinite;
  box-shadow: 0 0 0.6em rgba(255, 255, 255, 0.5);
}

.circle-0 { animation-timing-function: cubic-bezier(0, 0, 1, 1); }
.circle-1 { animation-timing-function: cubic-bezier(0.16, 0, 0.84, 1); }
.circle-2 { animation-timing-function: cubic-bezier(0.32, 0, 0.68, 1); }
.circle-3 { animation-timing-function: cubic-bezier(0.48, 0, 0.52, 1); }
.circle-4 { animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1); }

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.marqueegroup {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 400s linear infinite;
}

.marquee:hover .marqueegroup {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

