@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Anton";
  src: url("/fonts/AntonRegular.ttf") format("truetype");
  font-weight: 100;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: "CanelaThin";
	src: url("/fonts/CanelaThin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: "CanelaThin";
	src: url("/fonts/CanelaThinItalic.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
  font-display: swap;
}
@font-face {
	font-family: "IBMPlexMono-Thin";
	src: url("/fonts/IBMPlexMonoThin.ttf") format("truetype");
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: "IBMPlexMono-ExtraLight";
	src: url("/fonts/IBMPlexMonoExtraLight.ttf") format("truetype");
	font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasDisplay35";
  src: url("/fonts/NeueHaasGrotesk35Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasDisplay45";
  src: url("/fonts/NeueHaasGrotesk45Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasDisplay55";
  src: url("/fonts/NeueHaasGrotesk55Roman.ttf") format("truetype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

/* main {
  overflow-x: hidden;
  height: 100%;
} */

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.marqueegroup {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 400s linear infinite;
  padding-bottom: 4px;
}

.marquee:hover .marqueegroup {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.up {
  position: relative;
  overflow: hidden;
  color: white;
}
.up:hover,
.up:focus {
  box-shadow: inset 0 -6em 0 0 #e4cb58;
  color: #000;
}

.bg-noise {
  background-image: url("/images/noiseLUT.png");
  background-repeat: repeat;
  background-size: 180px 180px;
  mix-blend-mode: overlay;
  filter: contrast(120%) brightness(110%);
}

.MenuItem {
  position: relative;
  overflow: hidden;
  line-height: 1;
}

.MenuItem-text {
  display: block;
  line-height: 1;
  pointer-events: none;
  position: relative;
  white-space: pre;
}

.MenuItem > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  /* UNCOMMENT TO ADD DELAY BETWEEN EACH LETTER */
  /* transition-delay: calc(0.05s * var(--index)); */
  transform-origin: bottom;
  display: inline-block;
}

.MenuItem > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  /* UNCOMMENT TO ADD DELAY BETWEEN EACH LETTER */
  /* transition-delay: calc(0.05s * var(--index)); */
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.MenuItem:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.MenuItem:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

.BookNow-button {
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  border: none;
  background-color: transparent;
  color: #000;
  position: relative;
  overflow: hidden;
  color: #000;
}
.BookNow-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FF33CC;
  clip-path: circle(1rem at 50% 50%);
  offset-path: ellipse(50% 50% at 50% 50%);
  offset-distance: 0%;
  animation: button-spotlight 3s infinite linear;
  pointer-events: none;
  z-index: -20;
}
.BookNow-button::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 1%;
  width: 98%;
  height: 96%;
  background-color: #fff;
  border-radius: 10rem;
  z-index: -10;
}
@keyframes button-spotlight {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

.gtext {
  display: grid;
  white-space: nowrap;
  width: max-content;

  --text-width: 100px;
  --gsplits: 4;
  --gsize: 1rem;

  font-size: var(--gsize);

  grid-template-columns: repeat(
    var(--gsplits),
    calc(var(--text-width) / var(--gsplits))
  );
}

.gtext__box {
  overflow: hidden;
  position: relative;
  will-change: transform;
  margin-right: -0.5px; 
}

.gtext__box-inner {
  padding-right: 0.2em;
  width: max-content;
  position: relative;
  display: block;
  will-change: transform;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --font-xs: 14px;
    --font-xxs: 11px;
    --font-lg: 32px;

  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --font-xs: 14px;
    --font-xxs: 11px;
    --font-lg: 32px;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

